@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Open+Sans:wght@400;700&family=Rubik:wght@400;700&family=Raleway&display=swap");
:root {
  --ff-dosis: "Dosis", sans-serif;
  --ff-sans: "Open Sans", sans-serif;
  --ff-rubik: "Rubik", sans-serif;
  --ff-raleway: "Raleway", sans-serif;
  --color-primary: #202226;
  --color-secondary: #E4DDCF;
  --color-orange: #FF902B;
  --bg-body: #f6f6f6;
  --bg-secondary: #E4DDCF;
  --bg-orange: #ff902b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: var(--ff-rubik);
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: var(--color-primary);
  background: var(--bg-body);
  overflow-x: hidden;
}
body.hidden {
  overflow-y: hidden;
}
@media (max-width: 590px) {
  body {
    font-family: var(--ff-dosis);
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

main {
  background: url(../img/line1.png) no-repeat right top 5%, url(../img/line2.png) no-repeat left top 5%, url(../img/line2.png) no-repeat left bottom 52%, url(../img/line1.png) no-repeat right bottom 52%, url(../img/hand-header.png) no-repeat right -2% top 6%, url(../img/money.png) no-repeat right 2% bottom 47.5%, url(../img/cubes.png) no-repeat left 0% bottom 17%;
}
@media (max-width: 1200px) {
  main {
    background: transparent;
  }
}
@media (max-width: 450px) {
  main {
    background: url(../img/cubes-mini.png) no-repeat right 0 bottom 6%;
  }
}

.arrow-btn-up {
  width: 50px;
  height: 50px;
  background-color: var(--color-primary);
  background-image: url(../img/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  border-radius: 50%;
  border: 5px solid var(--color-orange);
  z-index: -1;
  bottom: 45px;
  right: 10px;
  opacity: 0;
  transition: 0.3s ease;
}
.arrow-btn-up.btn-visible {
  opacity: 1;
  z-index: 2;
}

.header {
  height: 80px;
}
@media (max-width: 590px) {
  .header {
    height: 237px;
  }
}
.header-fixed {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 19px 0;
  transition: 0.3s ease;
  background: var(--bg-body);
}
@media (max-width: 1160px) {
  .header-fixed {
    padding: 15px 20px;
  }
}
@media (max-width: 590px) {
  .header-fixed {
    padding: 0 15px 26px;
  }
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 590px) {
  .header-wrap {
    flex-direction: column;
  }
}
.header-block {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .burger {
  display: none;
}
@media (max-width: 850px) {
  .header .burger {
    display: flex;
    width: 30px;
    height: 30px;
    background: url(../img/burger.svg) no-repeat center;
    position: relative;
    z-index: 5;
  }
  .header .burger.active {
    background: url(../img/closed.svg) no-repeat center;
  }
}
@media (max-width: 590px) {
  .header .burger {
    position: absolute;
    top: 30px;
    right: 15px;
  }
}
.header-logo {
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  font-family: var(--ff-raleway);
}
@media (max-width: 590px) {
  .header-logo {
    position: absolute;
    top: 30px;
    left: 15px;
  }
}
@media (max-width: 850px) {
  .header .nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: 2;
    overflow-x: hidden;
    transform: translateX(-110%);
    transition: 0.3s ease-in-out;
    background: url(../img/nav-img.png) no-repeat center bottom 0, var(--bg-body);
    background-size: 245px;
  }
  .header .nav.open {
    transform: translateX(0);
  }
}
.header .menu {
  display: flex;
  justify-content: center;
  gap: 70px;
}
@media (max-width: 1300px) {
  .header .menu {
    gap: 30px;
  }
}
@media (max-width: 850px) {
  .header .menu {
    flex-direction: column;
    gap: 65px;
    align-items: center;
    padding-top: 109px;
  }
}
.header .menu .item {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
}
.header .menu .item::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 3px;
  right: 3px;
  bottom: 0;
  background: transparent;
  transition: 0.2s ease;
}
.header .menu .item:hover::after {
  background: var(--color-orange);
}
@media (max-width: 590px) {
  .header .menu .item {
    width: 360px;
    text-align: center;
  }
}
.header-container {
  display: flex;
  gap: 20px;
}
@media (max-width: 590px) {
  .header-container {
    flex-direction: column;
    padding-top: 109px;
    width: 100%;
  }
}
.header-btn {
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  width: 148px;
  padding: 10px 0;
  color: var(--color-primary);
  background: var(--bg-orange);
}
.header-btn:first-child {
  width: 94px;
  border: 1px solid var(--color-primary);
  background: #fff;
}
@media (max-width: 590px) {
  .header-btn:first-child {
    width: 330px;
    margin: 0 auto;
    padding: 10px 0;
  }
}
@media (max-width: 380px) {
  .header-btn:first-child {
    width: 100%;
  }
}
.header-btn:hover {
  box-shadow: 2px 5px 10px rgba(177, 121, 2, 0.75);
}
@media (max-width: 590px) {
  .header-btn {
    width: 330px;
    margin: 0 auto;
    padding: 10px 0;
  }
}
@media (max-width: 380px) {
  .header-btn {
    width: 100%;
  }
}

.article {
  padding-bottom: 60px;
}
@media (max-width: 1300px) {
  .article {
    padding: 0 15px 80px;
  }
}
.article ul {
  list-style: disc;
}
.article ul,
.article ol {
  margin-left: 20px;
  margin-bottom: 20px;
}
.article p > a {
  text-decoration: underline;
  color: var(--color-orange);
}
.article p {
  font-size: 16px;
  line-height: 34px;
  margin-bottom: 20px;
}
.article p:last-of-type {
  margin-bottom: 0;
  margin-top: 50px;
}
.article h3 + p {
  margin-bottom: 0;
}
.article picture {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.article h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 64px;
  margin: 20px 0;
}
@media (max-width: 590px) {
  .article h2 {
    font-size: 28px;
  }
}
.article h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 64px;
  margin: 20px 0;
}
@media (max-width: 590px) {
  .article h3 {
    font-size: 24px;
  }
}
.article .table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 50px 0;
}
.article .table:last-of-type {
  margin-bottom: 0;
}
.article tr {
  display: grid;
  grid-template: auto/repeat(4, 1fr);
  align-items: center;
  padding: 20px;
}
.article tr:nth-child(odd) {
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  background: var(--bg-secondary);
}
.article tr:nth-child(even) {
  margin: 15px 0;
}
@media (max-width: 768px) {
  .article tr:nth-child(even) {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .article tr {
    padding: 15px;
  }
}
.article td {
  font-family: var(--ff-sans);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-primary);
}
@media (max-width: 590px) {
  .article td {
    font-family: var(--ff-dosis);
  }
}
.article td:first-child {
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
}
@media (max-width: 510px) {
  .article td {
    font-size: 13px;
  }
}
.article .tab-2 tr {
  grid-template: auto/repeat(3, 1fr);
}
@media (max-width: 768px) {
  .article .tab-2 tr {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    padding: 25px 15px;
  }
}
@media (max-width: 768px) {
  .article .tab-2 tr td:first-child {
    grid-column: 1/3;
    margin-bottom: 15px;
  }
}
.article .tab-3 tr {
  grid-template: auto/repeat(2, 1fr);
}
@media (max-width: 768px) {
  .article .tab-3 tr {
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    padding: 25px 15px;
  }
  .article .tab-3 tr td:first-child {
    grid-column: 1/3;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .article .tab-1 tr {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
  }
  .article .tab-1 tr td:first-child {
    grid-column: 1/4;
    margin-bottom: 15px;
  }
}

.footer {
  padding: 30px 0;
  background: #000;
}
.footer p {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  opacity: 0.5;
  color: #fff;
}

.hero-block {
  padding: 26px 0 20px;
}
@media (max-width: 1280px) {
  .hero-block {
    padding: 26px 15px 20px;
  }
}
@media (max-width: 590px) {
  .hero-block {
    padding: 0 15px 20px;
  }
}
@media (max-width: 450px) {
  .hero-block {
    background: url(../img/line-mini.png) no-repeat right 40px bottom 60%;
  }
}
.hero-block picture img {
  margin: 0 auto;
  border-radius: 16px;
}
@media (max-width: 450px) {
  .hero-block picture img {
    border-radius: 6px;
  }
}
.hero-block h1 {
  padding-top: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.hero-block h1 span {
  display: block;
}
@media (max-width: 450px) {
  .hero-block h1 {
    padding-top: 46px;
    background: url(../img/hand-header-right.png) no-repeat right 0 top 70px;
    background-size: 72px;
  }
}/*# sourceMappingURL=main.css.map */